<!DOCTYPE html>
<html lang="eS">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de tareas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand fw-bolder" href="#">MIS TAREAS</a>
            <span>Bienvenido/a {{session['name']}}<a href="#" class="mx-3">Salir</a></span>
        </div>
    </nav>

    <div class="container">
       <div class="row">
        <div class="col-12 text-center">
            <h1 class="mt-4">Lista de tareas</h1>
            <button type="button" class="btn btn-primary my-2" data-bs-toggle="modal" data-bs-target="#taskModal" data-taskid="0">Agregar tarea <i class="fas fa-plus"></i></button>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in tasks %}
                    <tr>
                        <th scope="row">{{ task[0] }}</th>
                        <td>{{ task[1] }}</td>
                        <td>{{ task[2] }}</td>
                        <td>
                            <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#taskModal" data-bs-id="{{task[0]}}" data-bs-nombre = "{{task[1]}}" data-bs-descripcion = "{{task[2]}}">Editar <i class="fas fa-edit"></i></button>
                            <form action="/delete_task" method="post" id="deleteTaskForm">
                                <input type="hidden" name="task_id" id="deleteTaskId" value="{{task[0]}}">
                                <button type="submit" class="btn btn-danger">Eliminar <i class="fas fa-trash-alt"></i></button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
       </div>
    </div>
     <!-- Modal para crear/editar tarea -->
     <div class="modal fade" id="taskModal" tabindex="-1" role="dialog" aria-labelledby="taskModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="taskModalLabel">Agregar tarea</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    <form id="taskForm" method="POST" action="{{ url_for('add_task') }}">
                        <input type="hidden" id="taskId" name="taskId">
                        <div class="form-group">
                            <label for="nombre">Nombre:</label>
                            <input type="text" class="form-control" id="nombre" name="nombre" required>
                        </div>
                        <div class="form-group">
                            <label for="descripcion">Descripción:</label>
                            <input type="text" class="form-control" id="descripcion" name="descripcion" required>
                        </div>
                        <div class="form-group text-center mt-2">
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

 <script>


    function editar(id,nombre,descripcion){
        console.log(nombre);
    }
       
    const nombreModal = document.getElementById('taskModal')
if (nombreModal) {
  nombreModal.addEventListener('show.bs.modal', event => {
    // Button that triggered the modal
    const button = event.relatedTarget
    // Extract info from data-bs-* attributes
    const id = button.getAttribute('data-bs-id')
    const name = button.getAttribute('data-bs-nombre')
    const desc = button.getAttribute('data-bs-descripcion')
    // If necessary, you could initiate an Ajax request here
    // and then do the updating in a callback.

    // Update the modal's content.
    const modalNombre = nombreModal.querySelector('#nombre')
    const modalDesc = nombreModal.querySelector('#descripcion')
  //  const modalBodyInput = exampleModal.querySelector('.modal-body input')

    //modal.textContent = `New message to ${recipient}`
    modalNombre.value = name
    modalDesc.value = desc
    if(id){
        nombreModal.querySelector('.modal-title').textContent = 'Editar tarea';
        nombreModal.querySelector('#taskForm').setAttribute('action', '{{ url_for("edit_task", id=0) }}'.replace('0', id));
    }
  })
}
    
    
    
    $('#taskModal').on('show.bs.modal', function (event) {
            console.log('evento',event);
            var button = $(event.relatedTarget);
            var taskId = button.data('taskid');
            var modal = $(this);
            const recipient = button.getAttribute('data-bs-nombre');
            modal.querySelector('#nombre').text = recipient
            if (taskId != 0) {
                modal.find('.modal-title').text('Editar tarea');
                modal.find('#taskId').val(taskId);
                modal.find('#nombre').val(button.closest('tr').find('td:eq(1)').text());
                modal.find('#descripcion').val(button.closest('tr').find('td:eq(2)').text());
                modal.find('#taskForm').attr('action', '{{ url_for("edit_task", id=0) }}'.replace('0', taskId));
            } else {
                modal.find('.modal-title').text('Agregar tarea');
                modal.find('#taskId').val('');
                modal.find('#nombre').val('');
                modal.find('#descripcion').val('');
                modal.find('#taskForm').attr('action', '{{ url_for("add_task") }}');
            }
        });
    </script>
</html>